nav{
    display: flex;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
a{
    text-decoration: none;
}
li{
    text-decoration: none;


}
select{
    border: none;
}
header{
    display: flex;
    gap: 700px;
}
#photo{
    height: 200px;
    width: 200px;
}
img{
    height: 20px;
    width: 20px;
}